# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
starter-code/node_modules
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
package-lock.json
node_modules/.bin/loose-envify
node_modules/@babel/runtime/LICENSE
node_modules/@babel/runtime/package.json
node_modules/@babel/runtime/README.md
node_modules/@babel/runtime/helpers/applyDecoratedDescriptor.js
node_modules/@babel/runtime/helpers/arrayLikeToArray.js
node_modules/@babel/runtime/helpers/arrayWithHoles.js
node_modules/@babel/runtime/helpers/arrayWithoutHoles.js
node_modules/@babel/runtime/helpers/assertThisInitialized.js
node_modules/@babel/runtime/helpers/AsyncGenerator.js
node_modules/@babel/runtime/helpers/asyncGeneratorDelegate.js
node_modules/@babel/runtime/helpers/asyncIterator.js
node_modules/@babel/runtime/helpers/asyncToGenerator.js
node_modules/@babel/runtime/helpers/awaitAsyncGenerator.js
node_modules/@babel/runtime/helpers/AwaitValue.js
node_modules/@babel/runtime/helpers/classCallCheck.js
node_modules/@babel/runtime/helpers/classNameTDZError.js
node_modules/@babel/runtime/helpers/classPrivateFieldDestructureSet.js
node_modules/@babel/runtime/helpers/classPrivateFieldGet.js
node_modules/@babel/runtime/helpers/classPrivateFieldLooseBase.js
node_modules/@babel/runtime/helpers/classPrivateFieldLooseKey.js
node_modules/@babel/runtime/helpers/classPrivateFieldSet.js
node_modules/@babel/runtime/helpers/classPrivateMethodGet.js
node_modules/@babel/runtime/helpers/classPrivateMethodSet.js
node_modules/@babel/runtime/helpers/classStaticPrivateFieldSpecGet.js
node_modules/@babel/runtime/helpers/classStaticPrivateFieldSpecSet.js
node_modules/@babel/runtime/helpers/classStaticPrivateMethodGet.js
node_modules/@babel/runtime/helpers/classStaticPrivateMethodSet.js
node_modules/@babel/runtime/helpers/construct.js
node_modules/@babel/runtime/helpers/createClass.js
node_modules/@babel/runtime/helpers/createForOfIteratorHelper.js
node_modules/@babel/runtime/helpers/createForOfIteratorHelperLoose.js
node_modules/@babel/runtime/helpers/createSuper.js
node_modules/@babel/runtime/helpers/decorate.js
node_modules/@babel/runtime/helpers/defaults.js
node_modules/@babel/runtime/helpers/defineEnumerableProperties.js
node_modules/@babel/runtime/helpers/defineProperty.js
node_modules/@babel/runtime/helpers/extends.js
node_modules/@babel/runtime/helpers/get.js
node_modules/@babel/runtime/helpers/getPrototypeOf.js
node_modules/@babel/runtime/helpers/inherits.js
node_modules/@babel/runtime/helpers/inheritsLoose.js
node_modules/@babel/runtime/helpers/initializerDefineProperty.js
node_modules/@babel/runtime/helpers/initializerWarningHelper.js
node_modules/@babel/runtime/helpers/instanceof.js
node_modules/@babel/runtime/helpers/interopRequireDefault.js
node_modules/@babel/runtime/helpers/interopRequireWildcard.js
node_modules/@babel/runtime/helpers/isNativeFunction.js
node_modules/@babel/runtime/helpers/isNativeReflectConstruct.js
node_modules/@babel/runtime/helpers/iterableToArray.js
node_modules/@babel/runtime/helpers/iterableToArrayLimit.js
node_modules/@babel/runtime/helpers/iterableToArrayLimitLoose.js
node_modules/@babel/runtime/helpers/jsx.js
node_modules/@babel/runtime/helpers/maybeArrayLike.js
node_modules/@babel/runtime/helpers/newArrowCheck.js
node_modules/@babel/runtime/helpers/nonIterableRest.js
node_modules/@babel/runtime/helpers/nonIterableSpread.js
node_modules/@babel/runtime/helpers/objectDestructuringEmpty.js
node_modules/@babel/runtime/helpers/objectSpread.js
node_modules/@babel/runtime/helpers/objectSpread2.js
node_modules/@babel/runtime/helpers/objectWithoutProperties.js
node_modules/@babel/runtime/helpers/objectWithoutPropertiesLoose.js
node_modules/@babel/runtime/helpers/possibleConstructorReturn.js
node_modules/@babel/runtime/helpers/readOnlyError.js
node_modules/@babel/runtime/helpers/set.js
node_modules/@babel/runtime/helpers/setPrototypeOf.js
node_modules/@babel/runtime/helpers/skipFirstGeneratorNext.js
node_modules/@babel/runtime/helpers/slicedToArray.js
node_modules/@babel/runtime/helpers/slicedToArrayLoose.js
node_modules/@babel/runtime/helpers/superPropBase.js
node_modules/@babel/runtime/helpers/taggedTemplateLiteral.js
node_modules/@babel/runtime/helpers/taggedTemplateLiteralLoose.js
node_modules/@babel/runtime/helpers/tdz.js
node_modules/@babel/runtime/helpers/temporalRef.js
node_modules/@babel/runtime/helpers/temporalUndefined.js
node_modules/@babel/runtime/helpers/toArray.js
node_modules/@babel/runtime/helpers/toConsumableArray.js
node_modules/@babel/runtime/helpers/toPrimitive.js
node_modules/@babel/runtime/helpers/toPropertyKey.js
node_modules/@babel/runtime/helpers/typeof.js
node_modules/@babel/runtime/helpers/unsupportedIterableToArray.js
node_modules/@babel/runtime/helpers/wrapAsyncGenerator.js
node_modules/@babel/runtime/helpers/wrapNativeSuper.js
node_modules/@babel/runtime/helpers/wrapRegExp.js
node_modules/@babel/runtime/helpers/esm/applyDecoratedDescriptor.js
node_modules/@babel/runtime/helpers/esm/arrayLikeToArray.js
node_modules/@babel/runtime/helpers/esm/arrayWithHoles.js
node_modules/@babel/runtime/helpers/esm/arrayWithoutHoles.js
node_modules/@babel/runtime/helpers/esm/assertThisInitialized.js
node_modules/@babel/runtime/helpers/esm/AsyncGenerator.js
node_modules/@babel/runtime/helpers/esm/asyncGeneratorDelegate.js
node_modules/@babel/runtime/helpers/esm/asyncIterator.js
node_modules/@babel/runtime/helpers/esm/asyncToGenerator.js
node_modules/@babel/runtime/helpers/esm/awaitAsyncGenerator.js
node_modules/@babel/runtime/helpers/esm/AwaitValue.js
node_modules/@babel/runtime/helpers/esm/classCallCheck.js
node_modules/@babel/runtime/helpers/esm/classNameTDZError.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldDestructureSet.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldGet.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldLooseBase.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldLooseKey.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldSet.js
node_modules/@babel/runtime/helpers/esm/classPrivateMethodGet.js
node_modules/@babel/runtime/helpers/esm/classPrivateMethodSet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateFieldSpecGet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateFieldSpecSet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateMethodGet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateMethodSet.js
node_modules/@babel/runtime/helpers/esm/construct.js
node_modules/@babel/runtime/helpers/esm/createClass.js
node_modules/@babel/runtime/helpers/esm/createForOfIteratorHelper.js
node_modules/@babel/runtime/helpers/esm/createForOfIteratorHelperLoose.js
node_modules/@babel/runtime/helpers/esm/createSuper.js
node_modules/@babel/runtime/helpers/esm/decorate.js
node_modules/@babel/runtime/helpers/esm/defaults.js
node_modules/@babel/runtime/helpers/esm/defineEnumerableProperties.js
node_modules/@babel/runtime/helpers/esm/defineProperty.js
node_modules/@babel/runtime/helpers/esm/extends.js
node_modules/@babel/runtime/helpers/esm/get.js
node_modules/@babel/runtime/helpers/esm/getPrototypeOf.js
node_modules/@babel/runtime/helpers/esm/inherits.js
node_modules/@babel/runtime/helpers/esm/inheritsLoose.js
node_modules/@babel/runtime/helpers/esm/initializerDefineProperty.js
node_modules/@babel/runtime/helpers/esm/initializerWarningHelper.js
node_modules/@babel/runtime/helpers/esm/instanceof.js
node_modules/@babel/runtime/helpers/esm/interopRequireDefault.js
node_modules/@babel/runtime/helpers/esm/interopRequireWildcard.js
node_modules/@babel/runtime/helpers/esm/isNativeFunction.js
node_modules/@babel/runtime/helpers/esm/isNativeReflectConstruct.js
node_modules/@babel/runtime/helpers/esm/iterableToArray.js
node_modules/@babel/runtime/helpers/esm/iterableToArrayLimit.js
node_modules/@babel/runtime/helpers/esm/iterableToArrayLimitLoose.js
node_modules/@babel/runtime/helpers/esm/jsx.js
node_modules/@babel/runtime/helpers/esm/newArrowCheck.js
node_modules/@babel/runtime/helpers/esm/nonIterableRest.js
node_modules/@babel/runtime/helpers/esm/nonIterableSpread.js
node_modules/@babel/runtime/helpers/esm/objectDestructuringEmpty.js
node_modules/@babel/runtime/helpers/esm/objectSpread.js
node_modules/@babel/runtime/helpers/esm/objectSpread2.js
node_modules/@babel/runtime/helpers/esm/objectWithoutProperties.js
node_modules/@babel/runtime/helpers/esm/objectWithoutPropertiesLoose.js
node_modules/@babel/runtime/helpers/esm/package.json
node_modules/@babel/runtime/helpers/esm/possibleConstructorReturn.js
node_modules/@babel/runtime/helpers/esm/readOnlyError.js
node_modules/@babel/runtime/helpers/esm/set.js
node_modules/@babel/runtime/helpers/esm/setPrototypeOf.js
node_modules/@babel/runtime/helpers/esm/skipFirstGeneratorNext.js
node_modules/@babel/runtime/helpers/esm/slicedToArray.js
node_modules/@babel/runtime/helpers/esm/slicedToArrayLoose.js
node_modules/@babel/runtime/helpers/esm/superPropBase.js
node_modules/@babel/runtime/helpers/esm/taggedTemplateLiteral.js
node_modules/@babel/runtime/helpers/esm/taggedTemplateLiteralLoose.js
node_modules/@babel/runtime/helpers/esm/tdz.js
node_modules/@babel/runtime/helpers/esm/temporalRef.js
node_modules/@babel/runtime/helpers/esm/temporalUndefined.js
node_modules/@babel/runtime/helpers/esm/toArray.js
node_modules/@babel/runtime/helpers/esm/toConsumableArray.js
node_modules/@babel/runtime/helpers/esm/toPrimitive.js
node_modules/@babel/runtime/helpers/esm/toPropertyKey.js
node_modules/@babel/runtime/helpers/esm/typeof.js
node_modules/@babel/runtime/helpers/esm/unsupportedIterableToArray.js
node_modules/@babel/runtime/helpers/esm/wrapAsyncGenerator.js
node_modules/@babel/runtime/helpers/esm/wrapNativeSuper.js
node_modules/@babel/runtime/helpers/esm/wrapRegExp.js
node_modules/@babel/runtime/regenerator/index.js
node_modules/bootstrap/LICENSE
node_modules/bootstrap/package.json
node_modules/bootstrap/README.md
node_modules/bootstrap/dist/css/bootstrap-grid.css
node_modules/bootstrap/dist/css/bootstrap-grid.css.map
node_modules/bootstrap/dist/css/bootstrap-grid.min.css
node_modules/bootstrap/dist/css/bootstrap-grid.min.css.map
node_modules/bootstrap/dist/css/bootstrap-reboot.css
node_modules/bootstrap/dist/css/bootstrap-reboot.css.map
node_modules/bootstrap/dist/css/bootstrap-reboot.min.css
node_modules/bootstrap/dist/css/bootstrap-reboot.min.css.map
node_modules/bootstrap/dist/css/bootstrap.css
node_modules/bootstrap/dist/css/bootstrap.css.map
node_modules/bootstrap/dist/css/bootstrap.min.css
node_modules/bootstrap/dist/css/bootstrap.min.css.map
node_modules/bootstrap/dist/js/bootstrap.bundle.js
node_modules/bootstrap/dist/js/bootstrap.bundle.js.map
node_modules/bootstrap/dist/js/bootstrap.bundle.min.js
node_modules/bootstrap/dist/js/bootstrap.bundle.min.js.map
node_modules/bootstrap/dist/js/bootstrap.js
node_modules/bootstrap/dist/js/bootstrap.js.map
node_modules/bootstrap/dist/js/bootstrap.min.js
node_modules/bootstrap/dist/js/bootstrap.min.js.map
node_modules/bootstrap/js/dist/alert.js
node_modules/bootstrap/js/dist/alert.js.map
node_modules/bootstrap/js/dist/button.js
node_modules/bootstrap/js/dist/button.js.map
node_modules/bootstrap/js/dist/carousel.js
node_modules/bootstrap/js/dist/carousel.js.map
node_modules/bootstrap/js/dist/collapse.js
node_modules/bootstrap/js/dist/collapse.js.map
node_modules/bootstrap/js/dist/dropdown.js
node_modules/bootstrap/js/dist/dropdown.js.map
node_modules/bootstrap/js/dist/index.js
node_modules/bootstrap/js/dist/index.js.map
node_modules/bootstrap/js/dist/modal.js
node_modules/bootstrap/js/dist/modal.js.map
node_modules/bootstrap/js/dist/popover.js
node_modules/bootstrap/js/dist/popover.js.map
node_modules/bootstrap/js/dist/scrollspy.js
node_modules/bootstrap/js/dist/scrollspy.js.map
node_modules/bootstrap/js/dist/tab.js
node_modules/bootstrap/js/dist/tab.js.map
node_modules/bootstrap/js/dist/toast.js
node_modules/bootstrap/js/dist/toast.js.map
node_modules/bootstrap/js/dist/tooltip.js
node_modules/bootstrap/js/dist/tooltip.js.map
node_modules/bootstrap/js/dist/util.js
node_modules/bootstrap/js/dist/util.js.map
node_modules/bootstrap/js/src/alert.js
node_modules/bootstrap/js/src/button.js
node_modules/bootstrap/js/src/carousel.js
node_modules/bootstrap/js/src/collapse.js
node_modules/bootstrap/js/src/dropdown.js
node_modules/bootstrap/js/src/index.js
node_modules/bootstrap/js/src/modal.js
node_modules/bootstrap/js/src/popover.js
node_modules/bootstrap/js/src/scrollspy.js
node_modules/bootstrap/js/src/tab.js
node_modules/bootstrap/js/src/toast.js
node_modules/bootstrap/js/src/tooltip.js
node_modules/bootstrap/js/src/util.js
node_modules/bootstrap/js/src/tools/sanitizer.js
node_modules/bootstrap/scss/_alert.scss
node_modules/bootstrap/scss/_badge.scss
node_modules/bootstrap/scss/_breadcrumb.scss
node_modules/bootstrap/scss/_button-group.scss
node_modules/bootstrap/scss/_buttons.scss
node_modules/bootstrap/scss/_card.scss
node_modules/bootstrap/scss/_carousel.scss
node_modules/bootstrap/scss/_close.scss
node_modules/bootstrap/scss/_code.scss
node_modules/bootstrap/scss/_custom-forms.scss
node_modules/bootstrap/scss/_dropdown.scss
node_modules/bootstrap/scss/_forms.scss
node_modules/bootstrap/scss/_functions.scss
node_modules/bootstrap/scss/_grid.scss
node_modules/bootstrap/scss/_images.scss
node_modules/bootstrap/scss/_input-group.scss
node_modules/bootstrap/scss/_jumbotron.scss
node_modules/bootstrap/scss/_list-group.scss
node_modules/bootstrap/scss/_media.scss
node_modules/bootstrap/scss/_mixins.scss
node_modules/bootstrap/scss/_modal.scss
node_modules/bootstrap/scss/_nav.scss
node_modules/bootstrap/scss/_navbar.scss
node_modules/bootstrap/scss/_pagination.scss
node_modules/bootstrap/scss/_popover.scss
node_modules/bootstrap/scss/_print.scss
node_modules/bootstrap/scss/_progress.scss
node_modules/bootstrap/scss/_reboot.scss
node_modules/bootstrap/scss/_root.scss
node_modules/bootstrap/scss/_spinners.scss
node_modules/bootstrap/scss/_tables.scss
node_modules/bootstrap/scss/_toasts.scss
node_modules/bootstrap/scss/_tooltip.scss
node_modules/bootstrap/scss/_transitions.scss
node_modules/bootstrap/scss/_type.scss
node_modules/bootstrap/scss/_utilities.scss
node_modules/bootstrap/scss/_variables.scss
node_modules/bootstrap/scss/bootstrap-grid.scss
node_modules/bootstrap/scss/bootstrap-reboot.scss
node_modules/bootstrap/scss/bootstrap.scss
node_modules/bootstrap/scss/mixins/_alert.scss
node_modules/bootstrap/scss/mixins/_background-variant.scss
node_modules/bootstrap/scss/mixins/_badge.scss
node_modules/bootstrap/scss/mixins/_border-radius.scss
node_modules/bootstrap/scss/mixins/_box-shadow.scss
node_modules/bootstrap/scss/mixins/_breakpoints.scss
node_modules/bootstrap/scss/mixins/_buttons.scss
node_modules/bootstrap/scss/mixins/_caret.scss
node_modules/bootstrap/scss/mixins/_clearfix.scss
node_modules/bootstrap/scss/mixins/_deprecate.scss
node_modules/bootstrap/scss/mixins/_float.scss
node_modules/bootstrap/scss/mixins/_forms.scss
node_modules/bootstrap/scss/mixins/_gradients.scss
node_modules/bootstrap/scss/mixins/_grid-framework.scss
node_modules/bootstrap/scss/mixins/_grid.scss
node_modules/bootstrap/scss/mixins/_hover.scss
node_modules/bootstrap/scss/mixins/_image.scss
node_modules/bootstrap/scss/mixins/_list-group.scss
node_modules/bootstrap/scss/mixins/_lists.scss
node_modules/bootstrap/scss/mixins/_nav-divider.scss
node_modules/bootstrap/scss/mixins/_pagination.scss
node_modules/bootstrap/scss/mixins/_reset-text.scss
node_modules/bootstrap/scss/mixins/_resize.scss
node_modules/bootstrap/scss/mixins/_screen-reader.scss
node_modules/bootstrap/scss/mixins/_size.scss
node_modules/bootstrap/scss/mixins/_table-row.scss
node_modules/bootstrap/scss/mixins/_text-emphasis.scss
node_modules/bootstrap/scss/mixins/_text-hide.scss
node_modules/bootstrap/scss/mixins/_text-truncate.scss
node_modules/bootstrap/scss/mixins/_transition.scss
node_modules/bootstrap/scss/mixins/_visibility.scss
node_modules/bootstrap/scss/utilities/_align.scss
node_modules/bootstrap/scss/utilities/_background.scss
node_modules/bootstrap/scss/utilities/_borders.scss
node_modules/bootstrap/scss/utilities/_clearfix.scss
node_modules/bootstrap/scss/utilities/_display.scss
node_modules/bootstrap/scss/utilities/_embed.scss
node_modules/bootstrap/scss/utilities/_flex.scss
node_modules/bootstrap/scss/utilities/_float.scss
node_modules/bootstrap/scss/utilities/_overflow.scss
node_modules/bootstrap/scss/utilities/_position.scss
node_modules/bootstrap/scss/utilities/_screenreaders.scss
node_modules/bootstrap/scss/utilities/_shadows.scss
node_modules/bootstrap/scss/utilities/_sizing.scss
node_modules/bootstrap/scss/utilities/_spacing.scss
node_modules/bootstrap/scss/utilities/_stretched-link.scss
node_modules/bootstrap/scss/utilities/_text.scss
node_modules/bootstrap/scss/utilities/_visibility.scss
node_modules/bootstrap/scss/vendor/_rfs.scss
node_modules/gud/index.js
node_modules/gud/package.json
node_modules/gud/README.md
node_modules/history/createBrowserHistory.js
node_modules/history/createHashHistory.js
node_modules/history/createMemoryHistory.js
node_modules/history/createTransitionManager.js
node_modules/history/DOMUtils.js
node_modules/history/ExecutionEnvironment.js
node_modules/history/index.js
node_modules/history/LICENSE
node_modules/history/LocationUtils.js
node_modules/history/package.json
node_modules/history/PathUtils.js
node_modules/history/README.md
node_modules/history/warnAboutDeprecatedCJSRequire.js
node_modules/history/cjs/history.js
node_modules/history/cjs/history.min.js
node_modules/history/es/createBrowserHistory.js
node_modules/history/es/createHashHistory.js
node_modules/history/es/createMemoryHistory.js
node_modules/history/es/createTransitionManager.js
node_modules/history/es/DOMUtils.js
node_modules/history/es/ExecutionEnvironment.js
node_modules/history/es/LocationUtils.js
node_modules/history/es/PathUtils.js
node_modules/history/es/warnAboutDeprecatedESMImport.js
node_modules/history/esm/history.js
node_modules/history/umd/history.js
node_modules/history/umd/history.min.js
node_modules/hoist-non-react-statics/CHANGELOG.md
node_modules/hoist-non-react-statics/LICENSE.md
node_modules/hoist-non-react-statics/package.json
node_modules/hoist-non-react-statics/README.md
node_modules/hoist-non-react-statics/dist/hoist-non-react-statics.cjs.js
node_modules/hoist-non-react-statics/dist/hoist-non-react-statics.js
node_modules/hoist-non-react-statics/dist/hoist-non-react-statics.min.js
node_modules/hoist-non-react-statics/src/index.js
node_modules/isarray/component.json
node_modules/isarray/index.js
node_modules/isarray/package.json
node_modules/isarray/README.md
node_modules/isarray/build/build.js
node_modules/js-tokens/CHANGELOG.md
node_modules/js-tokens/index.js
node_modules/js-tokens/LICENSE
node_modules/js-tokens/package.json
node_modules/js-tokens/README.md
node_modules/loose-envify/cli.js
node_modules/loose-envify/custom.js
node_modules/loose-envify/index.js
node_modules/loose-envify/LICENSE
node_modules/loose-envify/loose-envify.js
node_modules/loose-envify/package.json
node_modules/loose-envify/README.md
node_modules/loose-envify/replace.js
node_modules/mini-create-react-context/LICENSE
node_modules/mini-create-react-context/package.json
node_modules/mini-create-react-context/README.md
node_modules/mini-create-react-context/dist/index.d.ts
node_modules/mini-create-react-context/dist/cjs/index.js
node_modules/mini-create-react-context/dist/cjs/index.min.js
node_modules/mini-create-react-context/dist/esm/index.js
node_modules/object-assign/index.js
node_modules/object-assign/license
node_modules/object-assign/package.json
node_modules/object-assign/readme.md
node_modules/path-to-regexp/History.md
node_modules/path-to-regexp/index.d.ts
node_modules/path-to-regexp/index.js
node_modules/path-to-regexp/LICENSE
node_modules/path-to-regexp/package.json
node_modules/path-to-regexp/Readme.md
node_modules/prop-types/CHANGELOG.md
node_modules/prop-types/checkPropTypes.js
node_modules/prop-types/factory.js
node_modules/prop-types/factoryWithThrowingShims.js
node_modules/prop-types/factoryWithTypeCheckers.js
node_modules/prop-types/index.js
node_modules/prop-types/LICENSE
node_modules/prop-types/package.json
node_modules/prop-types/prop-types.js
node_modules/prop-types/prop-types.min.js
node_modules/prop-types/README.md
node_modules/prop-types/lib/ReactPropTypesSecret.js
node_modules/react-is/build-info.json
node_modules/react-is/index.js
node_modules/react-is/LICENSE
node_modules/react-is/package.json
node_modules/react-is/README.md
node_modules/react-is/cjs/react-is.development.js
node_modules/react-is/cjs/react-is.production.min.js
node_modules/react-is/umd/react-is.development.js
node_modules/react-is/umd/react-is.production.min.js
node_modules/react-router/generatePath.js
node_modules/react-router/index.js
node_modules/react-router/LICENSE
node_modules/react-router/matchPath.js
node_modules/react-router/MemoryRouter.js
node_modules/react-router/package.json
node_modules/react-router/Prompt.js
node_modules/react-router/README.md
node_modules/react-router/Redirect.js
node_modules/react-router/Route.js
node_modules/react-router/Router.js
node_modules/react-router/StaticRouter.js
node_modules/react-router/Switch.js
node_modules/react-router/warnAboutDeprecatedCJSRequire.js
node_modules/react-router/withRouter.js
node_modules/react-router/cjs/react-router.js
node_modules/react-router/cjs/react-router.js.map
node_modules/react-router/cjs/react-router.min.js
node_modules/react-router/cjs/react-router.min.js.map
node_modules/react-router/es/generatePath.js
node_modules/react-router/es/matchPath.js
node_modules/react-router/es/MemoryRouter.js
node_modules/react-router/es/Prompt.js
node_modules/react-router/es/Redirect.js
node_modules/react-router/es/Route.js
node_modules/react-router/es/Router.js
node_modules/react-router/es/StaticRouter.js
node_modules/react-router/es/Switch.js
node_modules/react-router/es/warnAboutDeprecatedESMImport.js
node_modules/react-router/es/withRouter.js
node_modules/react-router/esm/react-router.js
node_modules/react-router/esm/react-router.js.map
node_modules/react-router/modules/generatePath.js
node_modules/react-router/modules/hooks.js
node_modules/react-router/modules/index.js
node_modules/react-router/modules/Lifecycle.js
node_modules/react-router/modules/matchPath.js
node_modules/react-router/modules/MemoryRouter.js
node_modules/react-router/modules/Prompt.js
node_modules/react-router/modules/Redirect.js
node_modules/react-router/modules/Route.js
node_modules/react-router/modules/Router.js
node_modules/react-router/modules/RouterContext.js
node_modules/react-router/modules/StaticRouter.js
node_modules/react-router/modules/Switch.js
node_modules/react-router/modules/withRouter.js
node_modules/react-router/umd/react-router.js
node_modules/react-router/umd/react-router.js.map
node_modules/react-router/umd/react-router.min.js
node_modules/react-router/umd/react-router.min.js.map
node_modules/react-router-dom/BrowserRouter.js
node_modules/react-router-dom/generatePath.js
node_modules/react-router-dom/HashRouter.js
node_modules/react-router-dom/index.js
node_modules/react-router-dom/LICENSE
node_modules/react-router-dom/Link.js
node_modules/react-router-dom/matchPath.js
node_modules/react-router-dom/MemoryRouter.js
node_modules/react-router-dom/NavLink.js
node_modules/react-router-dom/package.json
node_modules/react-router-dom/Prompt.js
node_modules/react-router-dom/README.md
node_modules/react-router-dom/Redirect.js
node_modules/react-router-dom/Route.js
node_modules/react-router-dom/Router.js
node_modules/react-router-dom/StaticRouter.js
node_modules/react-router-dom/Switch.js
node_modules/react-router-dom/warnAboutDeprecatedCJSRequire.js
node_modules/react-router-dom/withRouter.js
node_modules/react-router-dom/cjs/react-router-dom.js
node_modules/react-router-dom/cjs/react-router-dom.js.map
node_modules/react-router-dom/cjs/react-router-dom.min.js
node_modules/react-router-dom/cjs/react-router-dom.min.js.map
node_modules/react-router-dom/es/BrowserRouter.js
node_modules/react-router-dom/es/generatePath.js
node_modules/react-router-dom/es/HashRouter.js
node_modules/react-router-dom/es/Link.js
node_modules/react-router-dom/es/matchPath.js
node_modules/react-router-dom/es/MemoryRouter.js
node_modules/react-router-dom/es/NavLink.js
node_modules/react-router-dom/es/Prompt.js
node_modules/react-router-dom/es/Redirect.js
node_modules/react-router-dom/es/Route.js
node_modules/react-router-dom/es/Router.js
node_modules/react-router-dom/es/StaticRouter.js
node_modules/react-router-dom/es/Switch.js
node_modules/react-router-dom/es/warnAboutDeprecatedESMImport.js
node_modules/react-router-dom/es/withRouter.js
node_modules/react-router-dom/esm/react-router-dom.js
node_modules/react-router-dom/esm/react-router-dom.js.map
node_modules/react-router-dom/modules/BrowserRouter.js
node_modules/react-router-dom/modules/HashRouter.js
node_modules/react-router-dom/modules/index.js
node_modules/react-router-dom/modules/Link.js
node_modules/react-router-dom/modules/NavLink.js
node_modules/react-router-dom/modules/utils/locationUtils.js
node_modules/react-router-dom/umd/react-router-dom.js
node_modules/react-router-dom/umd/react-router-dom.js.map
node_modules/react-router-dom/umd/react-router-dom.min.js
node_modules/react-router-dom/umd/react-router-dom.min.js.map
node_modules/regenerator-runtime/LICENSE
node_modules/regenerator-runtime/package.json
node_modules/regenerator-runtime/path.js
node_modules/regenerator-runtime/README.md
node_modules/regenerator-runtime/runtime.js
node_modules/resolve-pathname/index.js
node_modules/resolve-pathname/LICENSE
node_modules/resolve-pathname/package.json
node_modules/resolve-pathname/README.md
node_modules/resolve-pathname/cjs/resolve-pathname.js
node_modules/resolve-pathname/cjs/resolve-pathname.min.js
node_modules/resolve-pathname/esm/resolve-pathname.js
node_modules/resolve-pathname/umd/resolve-pathname.js
node_modules/resolve-pathname/umd/resolve-pathname.min.js
node_modules/tiny-invariant/LICENSE
node_modules/tiny-invariant/package.json
node_modules/tiny-invariant/README.md
node_modules/tiny-invariant/dist/tiny-invariant.cjs.js
node_modules/tiny-invariant/dist/tiny-invariant.d.ts
node_modules/tiny-invariant/dist/tiny-invariant.esm.js
node_modules/tiny-invariant/dist/tiny-invariant.js
node_modules/tiny-invariant/dist/tiny-invariant.min.js
node_modules/tiny-invariant/src/tiny-invariant.flow.js
node_modules/tiny-invariant/src/tiny-invariant.ts
node_modules/tiny-warning/LICENSE
node_modules/tiny-warning/package.json
node_modules/tiny-warning/README.md
node_modules/tiny-warning/dist/tiny-warning.cjs.js
node_modules/tiny-warning/dist/tiny-warning.cjs.js.flow
node_modules/tiny-warning/dist/tiny-warning.esm.js
node_modules/tiny-warning/dist/tiny-warning.js
node_modules/tiny-warning/dist/tiny-warning.min.js
node_modules/tiny-warning/src/index.d.ts
node_modules/tiny-warning/src/index.js
node_modules/value-equal/index.js
node_modules/value-equal/LICENSE
node_modules/value-equal/package.json
node_modules/value-equal/README.md
node_modules/value-equal/cjs/value-equal.js
node_modules/value-equal/cjs/value-equal.min.js
node_modules/value-equal/esm/value-equal.js
node_modules/value-equal/umd/value-equal.js
node_modules/value-equal/umd/value-equal.min.js
starter-code/package-lock.json
starter-code/src/countries.json
starter-code/src/index.css
