.CountriesMenu {
  display: flex;
  width: 20%;
  flex-wrap: wrap;
  padding: 2%;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}

.CountriesMenu-country-container {
  width: 100%;
  padding: 5%;
}

.CountriesMenu a {
  color: black;
}