.country-detail {
	position: fixed;
	top: 70px;
}

.country-detail div {
	padding: 15px;

}

.country-detail div:not(:last-child) {
	border-bottom: 1px solid #ededed;
}

.country-detail strong {
	padding-right: 10px;
}

.country-detail ul {
	padding-top: 15px;
}

.country-detail a {
	padding-bottom: 5px;
}