.link__style{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgrey;
    color: black !important;
    text-decoration: none;
}

.link__style h6{
    color: black !important;
    text-decoration: none;
}

.link__style a:hover{
   
    text-decoration: none !important;
    
}

.link__style:hover{
    background-color: yellow ;
    
}