.CountryList img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.CountryList p {
    margin: 0;
    color: black;
    text-decoration: none;
}

.ListItem {
    display: flex;
    align-items: center;
}