.country-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .country-item {
    padding: 1rem;
    background-color: #f2f2f2;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  .flag{
    width:10;
    height: 10;
  }