

.country-card {
    background-color: white;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
    border: solid 2px black;

}

.country-card:hover {
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

