a {
    text-decoration: none !important;
}
.CountriesList {
    width: 20vw;
    height: 80vh;
    overflow: scroll;
}

.CountriesList article:hover {
    background-color: blue;
    color: white;
    text-decoration: none !important;
}