a {
    text-decoration: none !important;
}

.CountriesList {
    width: 23vw;
    min-width: 18vw;
    height: 80vh;
    overflow: scroll;
}

.CountriesList article {
    width: 83%
}

.CountriesList article:hover {
    background-color: blue;
    color: white;
    text-decoration: none !important;
}