@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
}

body strong {
  font-weight: 400;
  color: rgba(51, 51, 51, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  background: url(../images/home-bg.jpg) no-repeat center center/cover;
  margin-top: 3rem;
  border-radius: 4rem;
  -webkit-box-shadow: 0 0 2rem 0 rgba(51, 51, 51, 0.7);
          box-shadow: 0 0 2rem 0 rgba(51, 51, 51, 0.7);
  height: 20rem;
  position: relative;
}

.banner:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(#113f75), color-stop(51%, #e73827), color-stop(88%, #f4cc46), to(#f4cc46));
  background: linear-gradient(to right, #113f75 0%, #e73827 51%, #f4cc46 88%, #f4cc46 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4rem;
  opacity: 0.6;
}

.banner .banner-brand {
  position: relative;
  text-decoration: none;
}

.banner .banner-brand h1 {
  color: #fff;
  font-size: 4.8rem;
  padding-left: 1rem;
  margin-left: 1rem;
}

figure {
  font-size: 7rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 1rem;
  border: solid 0.2rem #f4cc46;
}

.app-block {
  padding: 8rem 0;
}

.app-block .countries-list,
.app-block .countries-detail {
  border-radius: 4rem;
  -webkit-box-shadow: 0 0 2rem 0 rgba(51, 51, 51, 0.4);
          box-shadow: 0 0 2rem 0 rgba(51, 51, 51, 0.4);
}

.app-block .countries-list {
  height: 60vh;
  overflow: scroll;
  padding: 1rem 0;
  z-index: 1;
}

.app-block .countries-list .country-list-row {
  padding: 2rem 0 1rem 2rem;
  border-bottom: 0.1rem solid #ddd;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.app-block .countries-list .country-list-row.active, .app-block .countries-list .country-list-row:hover {
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

.app-block .countries-detail {
  padding: 3rem;
  z-index: 0;
  margin-bottom: 10rem;
}

.app-block .countries-detail h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 3.2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.app-block .countries-detail .row {
  border-bottom: 0.1rem solid #ddd;
  padding: 2rem;
}

.app-block .countries-detail .country-link {
  display: block;
  color: #113f75;
}

.app-block .countries-detail .country-link svg {
  width: 1rem;
  margin-left: 0.5rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.app-block .countries-detail .country-link:hover {
  text-decoration: none;
}

.app-block .countries-detail .country-link:hover svg {
  margin-left: 1.5rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 0.1rem solid #ddd;
  padding: 2rem;
  font-size: 1rem;
  text-align: center;
  background: #fff;
}
/*# sourceMappingURL=styles.css.map */