.countries-list {
    max-height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 2vh;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 6px rgb(243, 243, 243); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 6px rgb(201, 201, 201); 
}