.Country {
  width: 50%;
  margin: 20px 110px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.Country-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.Country-details img {
  padding: 1rem;
}

.Country-specs {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.Country-specs li {
  list-style: none;
  color: blue;
}
