.CountryDetails {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CountryDetails {
    margin-top: 20px;
    align-items: flex-start;
    margin-left: 5vw;
}

.CountryDetails #spanCapital {
  margin-right: 50px;
}

.CountryDetails #spanArea {
  margin-right: 75px;
}

.CountryDetails hr {
  height: 1px;
  width: 100%;
}

.CountryDetails h4, #borders {
  margin-left: 25px;
}

.CountryDetails__borders {
  display: flex;
}

#borders li a{
  text-decoration: none;
  text-align: start;
}

#borders li{
  text-decoration: none;
  text-align: start;
}