.home {
  display: flex;
  justify-content: space-around;
}


.allCountries {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  overflow: scroll;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
}