.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.full-list li {
  /* text-decoration: none; */
  list-style: none;
  text-align: center;
  border: solid rgba(200, 200, 200, .5) .3px;
  padding: 5%;
}

.detail ul {
  list-style: none;
}

.info {
  text-align: left;
  padding: 8%;
  
}
.detail h1{
  border-bottom: solid gray 1px;
  line-height: 2em;
  width: 150%;
}
