.country-list{
  height: 85vh;
  overflow: scroll;

}

/* .country-list-column{
  flex: 0 0 auto;
}

.info-column{
  flex: 1 1 auto;
} */
/* .wiki{
  max-height: 100vh;
} */

/* .row-css{
  display: flex;
} */