* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.app > div:first-child {
  overflow: scroll;
  width: 40%;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 10px 8px 8px #282c34;
}

/* Each country in list on left side div */
.country {
  height: 50px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.country span {
  font-size: 1.4em;
}

/* right side div with country details */
.details {
  border: 1px solid black;
  width: 50%;
  margin: 10px;
  text-align: center;
  overflow: scroll;
}

.details h1 {
  font-size: 2.4em;
  margin: 20px 0;
}

.details > div {
  font-size: 1.8em;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  padding: 5px 20%;
}