body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
}

.container {
  margin: 10px;
  background-color: gray;
  justify-content: center;
  padding: 10px;
}

header {
  font-size: 3em;
  height: 90px;
  text-align: center;
}

.nav {
  background-color: white;
  width: 30%;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  height: 400px;
}

table {
  padding: 20px;
}

tr {
  border-bottom: 1px solid black;
}

td {
  padding: 20px;
}

.body {
  background-color: white;
  width: 70%;
  padding: 30px;
}

ul li {
  list-style-type: none;
}

li img {
  height: 30px;
}
