#body{
display: flex;
}

nav h1{
  background-color: rgb(0, 102, 255);
  color: white;
  font-size: 20px;
  padding: 20px;

}


.country-list div{
border: 0.01px solid rgb(181, 181, 181);
padding: 20px;


}

.country-list div img{
margin-right: 20px;

}




.country-list{
  margin: 20px;
}

.country-detail{
  margin: 20px;
}

.country-detail {
  margin: 20px;
}

