.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.listCountries {
  overflow: scroll;
  border: 1px solid black;
  width: 400px;
  height: 780px;
  display: flex;
  flex-direction: column;

}

.country {
  border: 1px solid black;
}

.layout {
  display: flex;
  justify-content: space-evenly;
}

.AllflexDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flexImgAndCapital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexDetails {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.flexFront {
  display: flex;
  flex-direction: column;
}