.App {
  text-align: center;
}
.scroll-style{
  max-height: 90vh;
  overflow-y: scroll;
}
.scroll-style li {
  display: flex;
  justify-content: flex-start;
}

.row-app{
display: flex;
flex-direction:row;
}