body {
  margin: 0;
  font-family: monospace;
}

.h1 {
  color: blueviolet;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.selected {
  text-shadow: 1px 0px 3px white;
  color: rgb(113, 0, 165);
  border-bottom: rgba(255, 255, 255, 0.639) solid 2px;
  padding-bottom: 5px;
}

.Navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  position: absolute;
}

.co {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5%;
}

